@{
    ViewData["Title"] = "About";
}
<br />
<h2>@ViewData["Title"]</h2>



<div class="container about">
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/neighbor.jpg" alt="a picture of my neighbor" class="mary">
        </div>
        <div class="col-md-6">
                <h3 class="card-title">This is my neighbor.</h3>
                <h4 class="card-text">She might be five feet tall. I see her most Tuesday evenings, usually accompanied by one or two very sweet kids under the age of five.  They stop to play with my daughter despite a pretty serious language barrier while my neighbor adds our cans and bottles to the mountain already in her cart. This woman works <i>hard</i>.</h4>
                <h4>Yes, We Can! is for her and all the other hard working people experiencing barriers to traditional employment opportunities. </h4>
        </div>
    </div>
</div>