@{
    ViewData["Title"] = "Home Page";
}




<div id='map'></div>
<script>
       L.mapbox.accessToken = 'pk.eyJ1IjoiYWxiZWxrYSIsImEiOiJjaXpwc2VlOWwwMHNtMzJvNDZreDMxMTgwIn0.GkWVE5JQRakQyQSoJFKp3A';
       var map = L.mapbox.map('map', 'mapbox.outdoors')
           .setView([45.54, -122.62], 11);
     
      var myLayer = L.mapbox.featureLayer()
      .loadURL('https://raw.githubusercontent.com/albelka/garbage-data/gh-pages/garbage2.geojson')
      .on('ready', function () {
          myLayer.eachLayer(function (layer) {
              console.log(layer.feature.properties.COLL_DAY_N);
              layer.bindPopup(layer.feature.properties.COLL_DAY_N);
              map.fitBounds(myLayer.getBounds());
          });
      })
     .addTo(map);
</script>

