@{
    ViewData["Title"] = "Map";
}


@using mapbox.Models
@model mapbox.Models.EnvironmentVariables

<br /><br />
<h4>Click on a polygon to find the garbage night for that area.</h4>

<div id='map'></div>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>

<script>
    L.mapbox.accessToken = "@EnvironmentVariables.Key";
       var geojson = [
  {
      type: 'Feature',
      geometry: {
          type: 'Point',
          coordinates: [ -122.675665, 45.598891]
      },
      properties: {
          'marker-color': '#fe9c74',
          'marker-size': 'large',
          'marker-symbol': 'city',
          'title': "BottleDrop Redemption Center"

      }
  },
   {
       type: 'Feature',
       geometry: {
           type: 'Point',
           coordinates: [-122.719610, 45.549385]
       },
       properties: {
           'marker-color': '#fe9c74',
           'marker-size': 'large',
           'marker-symbol': 'city',
           'title': "BottleDrop Redemption Center"

       }
   },
    {
        type: 'Feature',
        geometry: {
            type: 'Point',
            coordinates: [-122.534903, 45.528534]
        },
        properties: {
            'marker-color': '#fe9c74',
            'marker-size': 'large',
            'marker-symbol': 'city',
            'title': "BottleDrop Redemption Center"

        }
    },
     {
         type: 'Feature',
         geometry: {
             type: 'Point',
             coordinates: [-122.424353, 45.538153]
         },
         properties: {
             'marker-color': '#fe9c74',
             'marker-size': 'large',
             'marker-symbol': 'city',
             'title': "BottleDrop Redemption Center"

         }
     },
  {
      type: 'Feature',
      geometry: {
          type: 'Point',
          coordinates: [-122.601508, 45.451034]
      },
      properties: {
          'marker-color': '#fe9c74',
          'marker-size': 'large',
          'marker-symbol': 'city',
          'title': "BottleDrop Redemption Center"

      }
  },
  {
      type: 'Feature',
      geometry: {
          type: 'Point',
          coordinates: [-122.418170, 45.498424]
      },
      properties: {
          'marker-color': '#fe9c74',
          'marker-size': 'large',
          'marker-symbol': 'city',
          'title': "BottleDrop Redemption Center"

      }
  },
  {
      type: 'Feature',
      geometry: {
          type: 'Point',
          coordinates: [-122.636876, 45.570199]
      },
      properties: {
          'marker-color': '#ffff00',
          'marker-size': 'small',
          'marker-symbol': 'star',
          'title': "Concordia University"

      }
  },
  
  {
      type: 'Feature',
      geometry: {
          type: 'Point',
          coordinates: [-122.684227, 45.511978]
      },
      properties: {
          'marker-color': '#ffff00',
          'marker-size': 'small',
          'marker-symbol': 'star',
          'title': "Portland State University"

      }
  },
  {
      type: 'Feature',
      geometry: {
          type: 'Point',
          coordinates: [-122.630265, 45.481174]
      },
      properties: {
          'marker-color': '#ffff00',
          'marker-size': 'small',
          'marker-symbol': 'star',
          'title': "Reed College" 

      }
  },

       {
           type: 'Feature',
           geometry: {
           type: 'Point',
           coordinates: [-122.728730, 45.575765]
       },
       properties: {
           'marker-color': '#ffff00',
           'marker-size': 'small',
           'marker-symbol': 'star',
           'title': "University of Portland"

       }
       }


       ];

       var map = L.mapbox.map('map', 'mapbox.outdoors')
           .setView([45.54, -122.62], 11);

       var iconLayer = L.mapbox.featureLayer()
      .setGeoJSON(geojson)
     .addTo(map);


      var myLayer = L.mapbox.featureLayer()
      .loadURL('https://raw.githubusercontent.com/albelka/garbage-data/gh-pages/garbage2.geojson')
      .on('ready', function () {
          myLayer.eachLayer(function (layer) {
              layer.bindPopup('<p>' + layer.feature.properties.COLL_DAY_N + '</p>');
          });
      })
     .addTo(map);

      
      var newLayer = L.mapbox.featureLayer()
        .loadURL('https://raw.githubusercontent.com/albelka/grocery-store-data/gh-pages/groceryStores.geojson')
        .on('ready', function () {
            newLayer.eachLayer(function (layer) {
                layer.bindPopup('<p>' + layer.feature.properties.Name + '</p>');
                layer.setIcon(L.mapbox.marker.icon({ 'marker-symbol': 'grocery', 'marker-color': '59245f' }));
            });
        })
        .addTo(map);


</script>

<footer>
    <p>&copy; 2017 - mapbox</p>
</footer>

